{% set classes = [
'layout',
'layout--department-layout',
] %}

{% if content %}
<!-- Header -->
<div{{ attributes.addClass(classes) }}>
  {% if content.header_left %}
  <div {{ region_attributes.header_left.addClass('layout__region', 'layout__region--header_left' ) }}>
    {{ content.header_left }}
  </div>
  {% endif %}
  {% if content.header_right %}
  <div {{ region_attributes.header_right.addClass('layout__region', 'layout__region--header_right' ) }}>
    {{ content.header_right }}
  </div>
  {% endif %}

  <!-- Content regions -->
  {% if content.content %}
  <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content' ) }}>
    {{ content.content }}
  </div>
  {% endif %}


  {% if content.sidebar %}
  <div {{ region_attributes.sidebar.addClass('layout__region', 'layout__region--sidebar' ) }}>
    {{ content.sidebar }}
  </div>
  {% endif %}

  <!-- Footer regions -->
  {% if content.footer_left %}
  <div {{ region_attributes.footer_left.addClass('layout__region', 'layout__region--footer_left' ) }}>
    {{ content.footer_left }}
  </div>
  {% endif %}
  
  {% if content.footer_middle %}
  <div {{ region_attributes.footer_middle.addClass('layout__region', 'layout__region--footer_middle' ) }}>
    {{ content.footer_middle }}
  </div>
  {% endif %}

  {% if content.footer_right %}
  <div {{ region_attributes.footer_right.addClass('layout__region', 'layout__region--footer_right' ) }}>
    {{ content.footer_right }}
  </div>
  {% endif %}
  </div>
  {% endif %}